body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

a {
  color: white;
}

#controls {
  background-color: #333;
  padding: .5em;
}

#filters {
  display: none;
}

.genre {
  width: 100px;
  height: 65px;
  margin: 20px;
  float: left;
  font-family: verdana;
  text-align: center;
  padding: 35px 0 0;
  border-radius: 15px 0 15px 0;
  font-style: italic;
}

#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: hsla(0, 0%, 0%, .7);
  z-index: 3;
  text-align: center;
}

#close-modal {
  margin: 2em 0 0;
}

/* isotope css */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}