body {
  background-color: black;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

a {
  color: white;
  font-style: normal;
  padding: 2px;
}

button {
  border: solid white 2px;
  color: white;
  border-radius: 5px;
  background-color: black;
  font-size: 1.3em;
  padding: 0 5px 2px;
  cursor: pointer;
}

button:hover {
  color: black;
  border-color: black;
  background-color: white;
}

#controls {
  background-color: black;
  padding: .5em;
}

#filters {
  display: none;
}

#genres {
  min-height: 400px;
  padding: 20px;
}

.genre {
  width: 130px;
  height: 85px;
  margin: 10px;
  float: left;
  font-family: verdana;
  text-align: center;
  padding: 35px 0 0;
  border-radius: 15px 0 15px 0;
  font-style: italic;
  border: solid white 2px;
  line-height: 23px;
  cursor: pointer;
}

.genre:hover {
  border-color: white !important;
  background-color: hsla(0, 0%, 40%, .7) !important;
  color: white !important;
}

#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: hsla(0, 0%, 0%, .8);
  z-index: 3;
  text-align: left;
}

#modal h1 {
  text-align: center;
}

#modal-inside {
  background-color: black;
  width: 500px;
  margin: 50px auto 0;
  padding: 10px 20px 30px;
  background-color: hsla(0, 0%, 0%, .5);
  border-radius: 20px;
}

#video-wrapper {
  text-align: center;
}

#close-modal {
  margin: 0 0 10px 10px;
  float: right;
}

#about {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 5px 5px 0;
}

#about a {
  background-color: #111;
  color: #333;
  text-shadow: 1px 1px 0 black;
  border-radius: 7px;
}

#about a:hover {
  color: #3EFFC2;
}

/* isotope css */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}